* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignRight {
  float: right;
  padding: 0px;
}

.alignLeft {
  float: left;
  padding: 0px;
}

.alignCenter {
  text-align: center;
}

.noTextDecoration {
  text-decoration: none !important;
}


/******************************************
/* BASE STYLES
/*******************************************/


body {
  color: #000;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  position: relative;
  text-align: center;
}


#mainNavigationList {
  min-width: 800px;
  display: inline-block;
  float: right;
  margin: auto;
  border: 3px solid green;
}

#mainHeader {
  padding: 30px 60px 30px 150px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 120px;
  max-height: 120px;
  min-width: 400px;
  max-width: 1200px;
}

#containerTop {
  width: 100%;
  height: 100%;
  min-height: 1000px;
  min-width: 960px;
  max-height: 1000px;
  max-width: 1920px;
  background-image: url(../images/mountains.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

#bodyContainer {
  width: 100%;
  min-width: 700px;
  max-width: 1200px;
  margin: auto;
  margin-top: -60px;
  box-shadow: 0 8px 8px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.23);
  margin-bottom: 100px;
}

#introMessage {
  padding-top: 400px;
}

#benefits {
  height: 450px;
  padding: 120px 70px 70px 30px;
  text-align: left;
  background-color: #f0efef;
}

#benefitsList {
  margin-left: 150px;
  padding-top: 30px;
}

#testimonial {
  height: 300px;
  background-color: rgb(200,200,200);
  background: url(../images/mountains_border.jpg) no-repeat center;
  padding: 70px 100px 20px 100px;
}

#bottomFooter {
  background-color: rgb(60,60,60);
  margin: auto;
  height: 250px;
  padding: 40px;
}

#socialMedia {
  padding: 15px;
  text-align: center;
}

.websiteTitle {
  font-weight: 800 !important;
  font-size: 40px;
  text-decoration: none !important; 
}

.navigationLink {
  color: white;
  float: right;
  padding: 15px;
  font-size: 20px;
  text-decoration: none;
}

.navigationLink a:visited {
  color: #f9e42e;
  float: right;
  padding: 15px;
  font-size: 20px;
  text-decoration: none !important;
}

.introText {
  padding-top: 40px;
  margin-bottom: 20px;
  font-weight: 300 !important;
  font-size: 18px;
  max-width: 1400px;
  min-width: 800px;
  margin: auto;
  color: white;
}

.navigationLink a:hover {
  color: #DADADA;
  float: right;
  font-size: 20px;
}

.secondaryHeadingText {
  font-size: 32px;
  font-weight: 100 !important;
}

.benefitsIntroText {
  font-weight: 600 !important;
  font-size: 26px;
  margin-left: 150px;
}

.benefitsText {
  font-weight: 300 !important;
  font-size: 18px;
  margin-left: 150px;
}

.textTestimonial {
  font-weight: 300 !important;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

.boldText {
  font-weight: 900 !important;
}

.signUp {
  padding-top: 40px;
}

.signUpButton {
  background-color: #033048;
  border: none;
  border-radius: 10px;
  font-weight: 800 !important;
  font-size: 18px;
  color: white;
  padding: 20px 50px 20px 50px;
}

.whiteText {
  color: white;
}

.yellowText {
  color: #f9e42e;
}

.copyright {
  font-size: 12px;
  position: 70%;
}

.centerText {
  text-align: center;
}

.socialMediaLink1 {
  display: inline-block;
  padding: 10px 10px 20px 10px;
  text-decoration: none;
}

.socialMediaLink2 {
  display: inline-block;
  padding: 10px 10px 20px 10px;
  text-decoration: none;
}

.whiteText {
  color: white;
}


